/* Import font and other custom properties here */

/* Base styles */
/* Include your base styles here */

/* Header styles */
/* Include your header styles here */

/* Language container styles */
.language-container {
    padding: 5rem;
    text-align: center;
}

.title {
    font-size: var(--font-size-lg);
    margin-bottom: 4rem;
    color: var(--light-color);
}

.language-list {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
}

.list-item {
    text-align: center;
}

.list-link {
    font-size: var(--font-size-md);
    color: var(--light-color);
    text-transform: uppercase;
    text-decoration: none;
    transition: color .25s;
}

.list-link:hover {
    color: var(--hover-light-color);
}
